<% provide(:title, '本アプリについて') %>
<h1 class="left">本アプリについて</h1>
<hr>
<p>
<%= APP_NAME %>は東京メトロオープンデータ活用コンテスト応募用に作成したスタンプラリーアプリです。<br />
アプリを実行しているモバイル端末等の位置情報をもとに東京メトロ各駅（全143駅）への訪問を記録できます。
</p>
<p>
駅ごとに様々なスタンプ画像が用意されています。また、特定の駅の組み合わせを訪問した場合にも記録が残ります。（例：銀座線全駅を訪問）
</p>
<h1 class="left">アプリの使い方</h1>
<hr>
<p>
  アプリの使い方を記載
</p>
