<% provide(:title, 'アプリの使い方') %>
<h1 class="left">アプリについて</h1>
<hr>
<p>
<%= APP_NAME %>は東京メトロの<a href="http://tokyometro10th.jp/future/opendata/index.html">オープンデータ活用コンテスト</a>向けに作成した、東京メトロ非公式のスタンプラリー用アプリです。
アプリを実行しているモバイル端末等の位置情報をもとに東京メトロ各駅（全143駅）への訪問を記録できます。
駅ごとに様々なスタンプ画像が用意されています。さらに、特定の駅の組み合わせを訪問した場合にはトロフィーを獲得できます。（例：銀座線全駅を訪問）
</p>
<h1 class="left">アプリの使い方</h1>
<hr>
<h3 class="left">スタンプ取得方法</h3>
<p>
スタンプを取得するにはログインが必要です。google, github, facebook, twitterのどれかお持ちのアカウントにてログインしてください。
ログインした後は、「現在地判定」のリンクから端末の位置情報を元に東京メトロの各駅への訪問を判定します。<br />
ヒント：東京メトロの駅にいるのにうまく位置が判定できないという場合はWifiをオンにしてみてください。
</p>
<h3 class="left">マイページ</h3>
<p>
画面右上のメニューにある「マイページ」から、自分がこれまで訪問した駅や獲得トロフィーを確認できます。
</p>
<h3 class="left">各駅のページについて</h3>
<p>
アプリ中に表示される東京メトロの各駅のリンクから駅個別ページを見ることができます。
訪問済みの場合にはその駅のスタンプが確認できます。
また、これまでにその駅を訪問したユーザの一覧も表示されます。
</p>
<h3 class="left">駅訪問記録の消去について</h3>
<p>
駅に訪問した記録を消したい場合には、該当の駅のページの右下の「この駅の訪問記録を消す」から記録を消去できます。
トロフィー条件となっている駅の訪問記録を消した場合にはトロフィー獲得記録も消去されます。
</p>
<h3 class="left">メンバ一覧について</h3>
<p>
メンバ一覧ページにて、めとろべあの登録ユーザを一覧できます。
トロフィー獲得数、駅訪問数の多い順に一覧表示されます。
</p>
<h3 class="left">メンバ個別ページについて</h3>
<p>
メンバ一覧から各ユーザの個別ページを見ることができます。その人がこれまで訪問した駅、獲得したトロフィーを確認できます。
</p>
<h3 class="left">ごらくま（クマのキャラクターについて）</h3>
<p>
スタンプに登場するクマのキャラクターは @gorakkuma さん作のキャラクターで「ごらくま」といいます。
</p>
<h3 class="left">トロフィーについて</h3>
<p>
特定の駅の組み合わせを訪問した場合にトロフィーを取得することができます。
銀座線前駅を制覇した銀座線マスター等、いろいろなトロフィーがあり、トロフィーごとに、ごらくまのスタンプ画像が用意されています。
</p>
<h3 class="left">退会について</h3>
<p>
マイページの右下にある「めとろべあを退会する」から退会手続きができます。
退会した場合、訪問した駅や獲得トロフィーを含むすべてのユーザデータが削除されます。
</p>
<h3 class="left">その他</h3>
<p>
アプリの使い方に関する疑問があれば <a href="https://twitter.com/metrobear_tokyo">@metrobear_tokyo</a> まで、お問い合わせください。
</p>
