<% provide(:title, 'お問い合わせ') %>
<h1 class="left">お問い合わせ</h1>
<hr>
<p>
<%= APP_NAME %>に関するお問い合わせについては、twitterまたはgithubにてお願い致します。
</p>
<a href="https://twitter.com/knjcode" class="btn btn-lg"><i class="fa fa-twitter"></i> @knjcode</a>
<a href="https://github.com/knjcode" class="btn btn-lg"><i class="fa fa-github"></i> knjcode</a>

<p>
ごらくま（クマのキャラクター）に関するお問い合わせについては、 @gorakkuma または、gmailにてお願い致します。
</p>
<a href="mailto:gorabear14@gmail.com" class="btn btn-lg"><i class="fa fa-envelope-o"></i> gorabear14@gmail.com</a>
