<% provide(:title, 'お問い合わせ') %>
<h1 class="left">お問い合わせ</h1>
<hr>
<p>
<%= APP_NAME %>の使い方についてのお問い合わせはtwitterにてお願い致します。
</p>
<a href="https://twitter.com/metrobear_tokyo" class="btn btn-lg"><i class="fa fa-twitter"></i> @metrobear_tokyo</a>
<p>
アプリに関する技術的なお問い合わせについては、twitterまたはgithubにてお願い致します。
</p>
<a href="https://twitter.com/knjcode" class="btn btn-lg"><i class="fa fa-twitter"></i> @knjcode</a>
<a href="https://github.com/knjcode" class="btn btn-lg"><i class="fa fa-github"></i> knjcode</a>

<p>
ごらくま（クマのキャラクター）に関するお問い合わせについては、メールにてお願い致します。
</p>
<a href="mailto:gorabear14@gmail.com" class="btn btn-lg"><i class="fa fa-envelope-o"></i> gorabear14@gmail.com</a>
