<% provide(:title, 'お問い合わせ') %>
<h1 class="left">お問い合わせ</h1>
<hr>
<p>
<%= APP_NAME %>に関するお問い合わせについては、twitterまたはgithubまでお願い致します。
</p>
<a href="https://twitter.com/knjcode" class="btn btn-lg"><i class="fa fa-twitter"></i> @knjcode</a>
<a href="https://github.com/knjcode" class="btn btn-lg"><i class="fa fa-github"></i> knjcode</a>
