<% provide(:title, 'お問い合わせ') %>
<h1>お問い合わせ</h1>
<p>
  <%= APP_NAME %> に関するお問い合わせについては、twitterまたはfacebookまでお願い致します。
  <dl>
  <dt><i class="fa fa-twitter"></i> twitter</dt>
  <dd>@bearmetro</dd>
  <dt><i class="fa fa-facebook"></i> facebook</dt>
  <dd>bearmetro</dd>
  </dl>
</p>