<% provide(:title, '利用規約') %>
<h1 class="left">利用規約</h1>
<hr>
<p>
<%= APP_NAME %>利用規約（以下「本規約」と記載）は、本アプリにて提供するサービス（以下「本サービス」と記載）の利用条件を定めるものです。
登録ユーザの皆様（以下「ユーザ」と記載）は、必ず本規約に同意したうえで本サービスを利用してください。本規約に同意されない場合は、本サービスをご利用頂くことができません。
</p>
<br/>
<h4>1. 著作権</h4>
<p>
本アプリに掲載している、ごらくま（クマのキャラクター）のイラストについて無断転載を禁じます。ごらくまに関するすべての著作権は@gorakkumaに帰属します。
本アプリの紹介および引用については、本サイトが引用元であることを明記してください。
</p>
<br/>
<h4>2. 駅訪問データの取り扱い</h4>
<p>
本サービスの利用に伴うユーザの駅訪問データは、次に掲げる場合を除いて、あらかじめユーザの同意を得ることなく、第三者に提供することはありません。ただし、個人情報保護法等その他の法令で認められる場合を除きます。
<ul>
<li>人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき</li>
<li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき</li>
<li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
</ul>
また、本サービス提供者は、サービス品質向上を目的として、ユーザの駅訪問データを解析し利用できるものとする。
</p>
<br/>
<h4>3. ユーザ資格の取り消し</h4>
<p>
ユーザーが下記いずれかの事由に該当する場合、ユーザーへの事前通知を行うことなく、アカウントを取り消すことができるるものとします。
<ul>
<li>本規約に違反した場合</li>
<li>本サービスの運営を意図的に妨害していると判断される場合</li>
<li>その他、ユーザーとして不適切と判断される場合</li>
</ul>
</p>
<br/>
<h4>4. 本サービスの提供の停止</h4>
<p>
以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
<ul>
<li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
<li>地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合</li>
<li>コンピュータまたは通信回線等が事故により停止した場合</li>
<li>その他，当社が本サービスの提供が困難と判断した場合</li>
</ul>
</p>
<br/>
<h4>5. 免責事項</h4>
<p>
本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。
</p>
<br/>
<h4>6. サービス内容の変更</h4>
<p>
ユーザーに通知することなく，本サービスの内容の変更および本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。
</p>
<br/>
<h4>7. 本規約の改定</h4>
<p>
本規約の内容は必要に応じて改訂されることがあります。この場合、変更後の規約は本サービスのウェブサイトに掲載された時点より適用されるものとします。
</p>
<p>
</p>
