<% trophy = params[:id] %>
<% tr = METRO_TROPHY[trophy] %>
<% provide(:title, "トロフィー："+tr["nickname"]) %>

<section>
<h1 class="left"><%= tr["nickname"] %></h3>
<hr>
<% @user ||= current_user %>
<% if signed_in? %>
<% trophies = @user.get_trophy %>

  <% if trophies.include?(trophy) %>
    <p>獲得条件：<%= tr["comment"] %></p>
    <p>あなたはこのトロフィーを取得済みです！</p>
    <p><img src="/images/<%= tr["image"] %>" width="300" height="300" /></p>
    <p>トロフィー獲得に必要な駅：<ul>
    <% if tr["stations"].count == 0 %>
      <li>なし</li>
    <% else %>
      <% tr["stations"].each do |station| %>
        <li><%= link_to METRO_STATION[station], station_path(id:station) %></li>
      <% end %>
    <% end %>
    </ul></p>
  <% else %>
    <p>あなたはまだこのトロフィーを取得していません。</p>
    <img src="/images/trophy/blank.jpg" width="300" height="300" alt="blank" />
  <% end %>

<% end %>

</section>
