<footer class="footer">
  <small>
    <%= link_to APP_NAME, root_path %> by knjcode and Stamps by gorakkuma
  </small>
    <ul>
      <li><%= link_to "利用規約", terms_path %></li>
      <li><%= link_to "使い方", about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
</footer>